<!doctype html>
<html lang="en">
<title>cruzdanilo.com</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
<style media="screen">
body {
  margin: 0;
}
canvas {
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
</style>
<body>
<%- body -%>
<%- main() -%>
</body>
</html>
